body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  height: 987px;
  margin: 0 auto;
  background-color: #fff;
}
.header::after {
	content: '';
	display: table;
	clear: both;
}
.header__left, .header__right{
	width: 50%;
	float: left;
}
.header__left {
	position: relative;
}
.header__title {
	position: absolute;
	top: 100px;
	left: 100px;
}